{{#edit?}}
  <ul>
    <li><a target="_parent" href="queries">Queries</a></li>
  </ul>
{{/edit?}}
{{^edit?}}

  {{#menu}}
    <section class="{{hideshow}}">
      <input type="radio" name="hideshow" id="{{heading}}"\>
      <label for="{{heading}}">
        <h1>{{heading}}</h1>
      </label>
      {{#ifdef_items}}
        <ul class="hideshowable">
          {{#items}}
            <li>
              <a target="_parent" href="{{url}}">
                {{name}}
              </a>
              {{#csv}}
                <a class="csv" download="{{fileName}}"
                  href="{{url}}">csv</a>
              {{/csv}}
            </li>
          {{/items}}
        </ul>
      {{/ifdef_items}}
    </section>
  {{/menu}}

{{/edit?}}

