  <h2>Edit</h2>
  <ul data-bind="foreach: $root.tableDescriptions.managerMenu()">
    <li data-bind="if: viewId != '----'">
      <a class="link",
         data-bind="
                    attr: {href: viewId}, 
                    click: function(data, event){changeViewId(viewId);} "
         >
        <span data-bind="text: uiName"></span>
      </a>
    </li>
  </ul>

  <script>
    function changeViewId(viewId) {
        model.changeViewId(viewId);
    }
  </script>

