{{>table-types}}

<script type="text/html" id="table-head-template">
  <thead>
    <tr data-bind="foreach: { data: $root.tableDescriptions.uiColumns(), as: 'col'}">
      <!-- ko ifnot: col.hidden -->
        <th data-bind="text: col.uiName"></th>
      <!-- /ko -->
    </tr>
  </thead>
</script>

<script type="text/html" id="table-foot-template">
  <tfoot>
    <tr>
      <td> <button data-bind="click: newRow">add</button> </td>
    </tr>
  </tfoot>
</script>

<script type="text/html" id="changed-cell-template">
  <td>
    <span  data-bind="if: row.isChanged">
      <button data-bind="click: function() {revertRow(row)}">revert</button>
    </span>
  </td>
</script>

<script type="text/html" id="remove-cell-template">
  <td>
    <span  data-bind="ifnot: row.value.removed()">
      <button data-bind="click: function() {removeRow(row)}">remove</button>
    </span>
    <span  data-bind="if: row.value.removed()">
      <button data-bind="click: function() {unRemoveRow(row)}">un-remove</button>
    </span>
  </td>
</script>

<script type="text/html" id="table-cells-template">
  <!-- ko foreach: {data: $root.tableDescriptions.uiColumns(), as: 'col' } -->
    <!-- ko ifnot: col.hidden -->
      <td data-bind="
          template: {name: 'type-template', data: { row:row, col:col }},
          attr: {id: col.dbName}
          "></td>
    <!-- /ko -->
  <!-- /ko -->
</script>

<script type="text/html" id="table-body-template">
  {{!<pre data-bind="text: ko.toJSON($root, null, 2)"></pre>}}
  <tbody data-bind="foreach: {data: table.rows, as: 'row' }"> 
    <!-- ko if: !row.value.removed() || row.isChanged() || true --> {{!:todo:add code to show in removed list}}
      <tr data-bind="css: {removed: row.value.removed()}">
	    <!-- ko template: 'table-cells-template' --><!-- /ko -->
	    <!-- ko template: 'remove-cell-template' --><!-- /ko -->
	    <!-- ko template: 'changed-cell-template'--><!-- /ko -->
      </tr>
    <!-- /ko -->
  </tbody>
</script>

<script type="text/html" id="each-table-body-template">
  <tbody>
    <!-- ko foreach: {
	 data: eachKey($root),
	 as: 'f_row'
	  } --> 
      <tr data-bind="with: $parent">
	<td data-bind="text: f_row.value.name"></td>
        <!-- ko foreach: {data: $root.row(f_row, table.rows), as: 'row' }--> 
	
	    <!-- ko template: 'table-cells-template' --><!-- /ko -->
	    <!-- ko template: 'changed-cell-template'--><!-- /ko -->
	
	<!-- /ko -->
      </tr>
    <!-- /ko -->
  </tbody>
</script>

<script>
    function eachKey(root){
        return ko.computed( function(){
            var key = root.tableDescriptions.each();
            var result = root.foreignKeys.values(key())();
            return result;
        });
    }
</script>



