<nav class="menu">
    {{#edit?}}
      <div class="editable">
    {{/edit?}}   
    <section>
      {{>_menu-view}}
    </section>
    {{#edit?}}
      <section>
        {{>_menu-edit}}
      </section>
    {{/edit?}}
    {{#edit?}}
      </div>
    {{/edit?}} 

</nav>
