<script src="script/knockout-3.4.2.debug.js"></script>
<!--<script src="script/knockout.mapping-2.4.1.js"></script>-->
<script src="/_utils/script/jquery.js"></script>
<script src="/_utils/script/json2.js"></script>
<script src="script/site-1.js"></script>

<!--
<script src="/_utils/script/jquery.couch.js"></script>
<script src="/_utils/script/sha1.js"></script>
<script src="../../vendor/couchapp/jquery.couch.app.js"></script>
<script src="../../vendor/couchapp/jquery.couch.app.util.js"></script>
<script src="../../vendor/couchapp/jquery.evently.js"></script>
<script src="../../vendor/couchapp/jquery.mustache.js"></script>
<script src="../../script/app.js"></script>
<script src="../../script/md5.js"></script>
-->

