<html>
  <head>
    {{>head}}
  </head>
  <body>
    <h1>{{title}}</h1>
    {{#ifdef_items}}
      <ul>
        {{#items}}
          <li>
            <a target="_parent" href="{{url}}">{{name}}</a>
          </li>
        {{/items}}
      </ul>
    {{/ifdef_items}}
  </body>
</html>
