<!DOCTYPE html>
<html>
  <head>
    <title>Table Editor</title>
    {{>head}}
  </head>
  <body class="wrapper">
    {{>menu}}
    {{>header}}

    <main id="bottom_scroll">
	  <div data-bind="ifnot: $root.tableDescriptions.viewId">
	    <span class="select_from_menu">Select something from the menu.</span>
	  </div>
	  <form data-bind="if:    $root.tableDescriptions.viewId">
        <table>
          <!-- ko template: {name: 'table-head-template'}-->      <!-- /ko -->
          <!-- ko template: {name: 'table-body-template'}-->      <!-- /ko -->
	      <!-- ko template: {name: 'each-table-body-template'}--> <!-- /ko -->{{!what is this}}
          <!-- ko template: {name: 'table-foot-template'}-->      <!-- /ko -->
        </table>
	    
	    <button data-bind="click: save">save</button>
	    <button data-bind="click: revert">revert all</button>
	  </form>
    </main>
    
  </body>

  {{>scripts}}
  <script>
    
var model = new KnockoutModelSynchronizedToCouchdb();

function revert() {
    model.revertFromUndo();
}

function revertRow(row){
    model.revertRowFromUndo(row);
}

function save() {
    model.save();
}

function newRow() {
    model.newRow();
}

function removeRow(row) {
    row.value.removed(true);
}

function unRemoveRow(row) {
    row.value.removed(false);
}

  </script>
  {{>edit-table-ko-templates}}
  
</html>
