<!DOCTYPE html>
<html>
  <head>
    {{>head}}
    <script>
      _updateScroll = function () {
        var element = document.getElementById("bottom_scroll");
        element.scrollTop = element.scrollHeight;
      } 
    </script>
  </head>
  <body class="wrapper" onload="_updateScroll();">
    <!--{{>header}}-->
    {{>query-menu}}
    <header>
      <h1>{{title}}</h1>
    </header>
    <main class="box" id="bottom_scroll">
    <table>
      
      {{#ifdef_head}}
        <thead>
          <tr>
            {{#head}}
              <th>{{.}}</th>
            {{/head}}
          </tr>
        </thead>
      {{/ifdef_head}}

      {{#ifdef_body}}
        <tbody>
          {{#body}}
            <tr>
              {{#.}}
                <td>{{.}}</td>
              {{/.}}
            </tr>
          {{/body}}
        </tbody>
      {{/ifdef_body}}
      
      {{#ifdef_foot}}
        <tfoot>
          {{#foot}}
            <tr>
              {{#.}}
                <td>{{.}}</td>
              {{/.}}
            </tr>
          {{/foot}}
        </tfoot>
      {{/ifdef_foot}}
      
    </table>
    </main>
    
    {{#ifdef_aside}}
      <aside>
      {{#aside}}
        <iframe src="{{url}}">
          <a href="{{url}}">{{url}}</a>
        </iframe>
      {{/aside}}
      </aside>
    {{/ifdef_aside}}
    
  </body>
</html>
