<!DOCTYPE html>
<html>
  <head>
    <title>unit test</title>

    <meta charset="utf-8">
    <link rel="stylesheet" href="../style/qunit-1.14.0.css">
    <script type="text/javascript" src="../script/qunit-1.14.0.js"></script>
    <script>
      var exports = new Object();
    </script>
    
  </head>
  <body>
    <div id="qunit"></div>
    <div id="qunit-fixture"></div>

    <script type="text/javascript" src="../{{codeUnderTest}}"></script>
    <script type="text/javascript" src="../{{tester}}"></script>
    
  </body>
</html>

