@charset "utf8";
/*****************************************************************/
/*Layout*/

/*Fix non-html5 browsers*/
header, section, footer, aside, nav, main, article, figure, iframe{
    display: block;
}

/*map html to css-grid*/
nav      {grid-area: nav; }
aside    {grid-area: sidebar2;}
main     {grid-area: content;}
header   {grid-area: header;}
footer   {grid-area: footer;}

/*use exactly 100% of screen*/
html, body, .wrapper, main, nav, iframe, header, aside{
    margin: 0;
    padding: 0;
}
.wrapper {
    height: 100vh;
    width: 100%;
}
iframe, html, body, head {
    height: 100%;
    width: 100%;
}

/*Define the grid*/
.wrapper {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content min-content auto min-content min-content;
    grid-template-areas:
        "nav"
        "header"
        "content"
        "sidebar2"
        "footer";
}

/*Main keep out of the way. Use grid as it behaves well*/
.wrapper {
    overflow: hidden;
}
main {
    height: auto;
    overflow: auto;
}

/*menu*/
.select_from_menu:before {
    content: "⬆"
}
.select_from_menu:after {
    content: "⬆"
}

.menu {
    webkit-column-count: 2;
    webkit-column-gap: 10px;
    moz-column-count: 2;
    moz-column-gap: 10px;
    column-count:auto;
    column-gap:10px;
    column-width: auto
}

@media all and (min-width: 70em) {

    .wrapper {
        grid-gap: 5px;
        grid-template-columns: minmax(min-content,8em) auto;
        grid-template-rows: min-content auto min-content min-content;
        grid-template-areas:
            "header  header"
            "nav content"
            "sidebar2 sidebar2"
            "footer footer";
    }

    .select_from_menu:before {
        content: "⬅"
    }
    .select_from_menu:after {
        content: ""
    }

    .menu .editable{
        webkit-column-count: initial;
        webkit-column-gap: 10px;
        moz-column-count: initial;
        moz-column-gap: 10px;
        column-count:initial;
        column-gap:10px;
    }
}

@media all and (min-width: 80em) {
    .wrapper {

        grid-template-columns: minmax(min-content,10%) auto minmax(min-content,8em);
        grid-template-rows: min-content auto minmax(0,min-content);
        grid-template-areas:
            "header  header sidebar2"
            "nav content sidebar2"
            "footer footer footer";
    }
}


/*****************************************************************/
/*style*/

.box {
  border-radius: 5px;
  padding: 0;
}

header, footer {
  background-color: #999;
}

aside {
  background-color: #eee;
}

/*style nav bar*/
.menu ul {
    list-style-type: none;
    padding-top: 0;
    font-family: serif;
}

.menu ul > li {
    margin-top: 0.5em;
    border-radius: 5px;
    border: 1px;
    background-color: #ccc;
}

.menu ul > li:first-child{
   margin-top: 0;
}

.menu ul > li{
    padding: 0.1em;
}

.menu ul {
    padding: 0;
    margin:0;
}

textarea {
    overflow: hidden;
    min-height: 50px;
}

/**************************************/
nav {
    border: 1px solid blue;
}

input[type="file"] {
    border: 1px solid red;
    display:table;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5 */
}

/**********************************/
/*Hide show*/
input[name="hideshow"] {
    display: none;
}

.hideshow input[name="hideshow"]:not(:checked) ~ .hideshowable {
    display:none;
}

.hideshow input[name="hideshow"]:not(:checked) ~ label:after {
    content:"…";
}

